doctype html
head
  // Required meta tags
  // Title Page
  title Add Advertisement
  // Icons font CSS
  link(href='../../vendor1/mdi-font/css/material-design-iconic-font.min.css', rel='stylesheet', media='all')
  link(href='../../vendor1/font-awesome-4.7/css/font-awesome.min.css', rel='stylesheet', media='all')
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i', rel='stylesheet')
  // Vendor CSS
  link(href='../../vendor1/select2/select2.min.css', rel='stylesheet', media='all')
  link(href='../../vendor1/datepicker/daterangepicker.css', rel='stylesheet', media='all')
  // Main CSS
  link(href='../../stylesheets/main1.css', rel='stylesheet', media='all')
.page-wrapper.bg-blue.p-t-100.p-b-100.font-robo
  .wrapper.wrapper--w680
    h2
      a(href='/logout' style="color:red; float:right") LogOut
    .card.card-1
      .card-heading
      .card-body
        h2.title Update Advertisement
        form(method='POST' action='/advertisement/edit')
          input(name='id' type='hidden' value=advertisement.id)
          .input-group
            input.input--style-1(type='text', placeholder='Title', name='title', value=advertisement.title required)
          .row.row-space
            .col-2
              .input-group
                input.input--style-1(type='text', placeholder='Description', value=advertisement.description , name='description' required)
            .col-2
              .input-group
                input.input--style-1(type='number', placeholder='Price', name='price',value=advertisement.price , required)
          .input-group
            .rs-select2.js-select-simple.select--no-search
              select(name='location' required)
                option Location
                if advertisement.location == "Toronto"
                  option(selected = advertisement.location ) Toronto
                else 
                  option Toronto
                if advertisement.location == "Orillia"
                  option(selected = advertisement.location ) Orillia
                else 
                  option Orillia
                if advertisement.location == "Markham"
                  option(selected = advertisement.location ) Markham
                else 
                  option Markham
                if advertisement.location == "Vaughan"
                  option(selected = advertisement.location ) Vaughan
                else 
                  option Vaughan
                
                
              .select-dropdown
          .p-t-20
            button.btn.btn--radius.btn--green(type='submit') Submit
// Jquery JS
script(src='../../vendor1/jquery/jquery.min.js')
// ../vendor1 JS
script(src='../../vendor1/select2/select2.min.js')
script(src='../../vendor1/datepicker/moment.min.js')
script(src='../../vendor1/datepicker/daterangepicker.js')
// Main JS
script(src='../../javascripts/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document
